BasedOnStyle: Google
IndentWidth: 2
ContinuationIndentWidth: 2
ColumnLimit: 0
UseTab: Never
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
IndentCaseLabels: true
AlignAfterOpenBracket: BlockIndent
Cpp11BracedListStyle: true
BinPackArguments: false
BinPackParameters: false
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignTrailingComments: true
IncludeBlocks: Regroup
IncludeIsMainRegex: "$."
IncludeCategories:
  - Regex: "^<(cbprng|fountain_code|hash|openssl_rand_mod|rand|uint128|utils)/"
    Priority: 3
  - Regex: "^<study/"
    Priority: 4
  - Regex: "^<openssl/"
    Priority: 1
  - Regex: "^<.*"
    Priority: 2
  - Regex: '^".*'
    Priority: 5
