BasedOnStyle: Google
IndentWidth: 2
ContinuationIndentWidth: 2
ColumnLimit: 0
UseTab: Never
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
IndentCaseLabels: true
AlignAfterOpenBracket: BlockIndent
Cpp11BracedListStyle: true
BinPackArguments: false
BinPackParameters: false
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignTrailingComments: true
IncludeBlocks: Regroup
IncludeIsMainRegex: "$."
IncludeCategories:
  - Regex: "^<cbprng/"
    Priority: 4
  - Regex: "^<fountain_code/"
    Priority: 5
  - Regex: "^<hash/"
    Priority: 6
  - Regex: "^<rand/"
    Priority: 7
  - Regex: "^<uint128/"
    Priority: 8
  - Regex: "^<utils/"
    Priority: 9
  - Regex: "^<openssl_rand_mod/"
    Priority: 10
  - Regex: "^<study/"
    Priority: 11
  - Regex: "^<NTL/"
    Priority: 1
  - Regex: "^<openssl/"
    Priority: 2
  - Regex: "^<.*"
    Priority: 3
  - Regex: '^".*'
    Priority: 12
